page-login-fail {

}
.page-bg {
    background-color: #2079D3;
}
.jsxcTitle {
    color: blue;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: 800;
}

.jsxcText {
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 800;
}